<!DOCTYPE html>
<html th:fragment="default_layout (title, links, styles, content, scripts)" th:lang="${site.lang}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragment/head :: common_head($title, $links)">
</head>

<body>
  <header th:replace="/fragments/header :: common_header()"></header>
  <div th:replace="${content}">
    <p>Layout content</p>
  </div>
  <th:block th:replace="/fragments/scripts :: common_scripts($scripts)"></th:block>
  <footer th:replace="/fragments/footer :: common_footer()"></footer>
</body>

</html>