<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head (title, links, styles, scripts)">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--   {%- seo -%} -->

<title th:text="${title}"></title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<!--/* Per-page placeholder for additional links */-->
<th:block th:replace="${links}" />

<!--/* Per-page placeholder for additional styles */-->
<th:block th:replace="${styles}" />

<!--   {%- feed_meta -%} -->
<!--     {%- include google-analytics.html -%} -->

<!--/* Per-page placeholder for additional scripts */-->
<th:block th:replace="${scripts}" />

</head>
<body></body>
</html>