<!doctype html>
<html th:lang="${site.lang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_head(${title},~{},~{},~{})"></head>
<body>

	<header th:replace="fragments/header :: common_header()"></header>

	<div class="container">
		<div class="home">

			<h1 class="page-heading" th:if="${title}" th:title="${title}">Home
				Page Title</h1>

			<th:block th:utext="${content}">
			</th:block>

			<th:block th:if="${!posts.empty}">
				<h2 class="post-list-heading">Posts</h2>
				<ul class="post-list">
					<li th:each="post : ${posts}">
						<span class="post-meta" th:text="${#temporals.formatISO(post.date)}"></span>
						<h3>
							<a class="post-link" th:href="@{post.url}"
								th:text="${post.title}"> </a>
						</h3>
						<p th:if="${post.excerpt}" th:text="${post.excerpt}">
						
						</p>
					</li>
				</ul>
			</th:block>

			<!--     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

		</div>
	</div>

	<footer th:replace="fragments/footer :: common_footer()"></footer>

	<th:block th:replace="fragments/scripts :: common_scripts()"></th:block>

</body>
</html>
