---
layout: default
---
<!DOCTYPE html>
<html th:replace="layouts/default :: default_layout(~{head :: title},_,~{head :: style},~{body :: #content},_)" xmlns:th="http://www.thymeleaf.org">
<head>
<title>404</title>
<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>
</head>
<body>
<div id="content" class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
  <img alt="cat status code" src="https://http.cat/404">
</div>
</body>
</html>